.uxer-flatdial{
  width:100px;
  height:100px;
  border-radius:50%;
  box-sizing: content-box;
  border: 6px solid OrangeRed;
/*  -webkit-transform: rotateZ(90deg);*/
}

.uxer-flatdial-marker{
  height: 31%;
  width: 4%;
  background-color: OrangeRed;
  position:absolute;
  left:48%;
  top:57%;
  border-radius: 8px;

}