.uxer-flatdial{
  box-sizing: border-box;
  width:100px;
  height:100px;
  border-radius:50%;
  border: 6px solid OrangeRed;
  -webkit-transform: rotateZ(90deg);
}

.uxer-flatdial-value{
  width: 46%;
  height: 6%;
  background-color: OrangeRed;
  position:absolute;
  left:48.5%;
  top:47%;
  border-radius: 11px;
}